{% extends 'main/layout.html' %}

{% block content %}
  <style>
    .login-form {
      width: 50%; /* Ширина формы */
      margin: auto; /* Центрирование по горизонтали */
      text-align: center; /* Выравнивание содержимого по центру */
    }

    .login-form h2 {
      margin-bottom: 20px; /* Отступ снизу для заголовка */
    }

    .login-form button {
      margin-top: 20px; /* Отступ сверху для кнопки */
    }
  </style>

  <form class="login-form" method="post">
    {% csrf_token %}
    <h2>Вход в личный кабинет</h2>
    {{ form.as_p }}
    <button type="submit" class="custom-button-dark">Войти</button>
    <a href="{% url 'accounts:signup' %}"> Зарегистрироваться </a>
  </form>
{% endblock %}
